{% section 'product-template' %}
{% section 'product-custom-recommendation' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}


<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script>

{% comment %}
<div id="shopify-section-featured-collections_PDP" class="shopify-section shopify-section--bordered"><section class="Section Section--spacingNormal" data-section-id="featured-collections" data-section-type="featured-collections" data-settings='{
  "layout": "grid"
}'>
  <header class="SectionHeader SectionHeader--center">
    <div class="Container"><h3 class="SectionHeader__SubHeading Heading u-h6">SHOP</h3><h2 class="SectionHeader__Heading Heading u-h1">The Routine</h2></div>
  </header><div class="TabPanel" id="block-bb3e3d8f-c840-4883-959c-187976944538" aria-hidden="false" role="tabpanel" >
      <div class="ProductListWrapper"><div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="2" data-desktop-count="4"><div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up"><div class="ProductItem ">
  <div class="ProductItem__Wrapper"><a href="/products/limpiadora-facial" class="ProductItem__ImageWrapper "><div class="AspectRatio AspectRatio--tall" style="max-width: 1080px;  --aspect-ratio: 1.0"><img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Limpiadora-facial-hidratante_{width}x.png?v=1643448511" data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto" alt="Cleansing cream" data-media-id="24673316274335">
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Crema-hidratante-mano_600x.jpg?v=1645041820" alt="Cleansing cream">
          <img class="ProductItem__Image" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Limpiadora-facial-hidratante_600x.png?v=1643448511" alt="Cleansing cream">
        </noscript>
      </div>
    </a><div class="ProductItem__Info ProductItem__Info--center"><p class="ProductItem__Vendor Heading">PHA, Omega Complex</p><h2 class="ProductItem__Title Heading">
          <a href="/products/limpiadora-facial">Cleansing cream</a>
        </h2>

 
<div style='' class='jdgm-widget jdgm-preview-badge' data-id='6694367330463'
data-template='index'
data-auto-install='false'>
  
</div>


<div class="ProductItem__PriceList  Heading"><span class="ProductItem__Price Price Text--subdued"></span></div></div></div></div></div><div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up"><div class="ProductItem ">
  <div class="ProductItem__Wrapper"><a href="/products/tonico-facial-exfoliante" class="ProductItem__ImageWrapper "><div class="AspectRatio AspectRatio--tall" style="max-width: 1080px;  --aspect-ratio: 1.0"><img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Tonico-facial-salicilico_{width}x.png?v=1643448753" data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto" alt="The Porefect Toner" data-media-id="24673342193823">
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Tonico-facial-salicilico-caja_600x.png?v=1643448753" alt="The Porefect Toner">
          <img class="ProductItem__Image" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Tonico-facial-salicilico_600x.png?v=1643448753" alt="The Porefect Toner">
        </noscript>
      </div>
    </a><div class="ProductItem__Info ProductItem__Info--center"><p class="ProductItem__Vendor Heading">PHA, AHA, Ácido Salicílico</p><h2 class="ProductItem__Title Heading">
          <a href="/products/tonico-facial-exfoliante">The Porefect Toner</a>
        </h2>



<div style='' class='jdgm-widget jdgm-preview-badge' data-id='7252245643423'
data-template='index'
data-auto-install='false'>
  
</div>



<div class="ProductItem__PriceList  Heading"><span class="ProductItem__Price Price Text--subdued"></span></div></div></div></div></div><div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up"><div class="ProductItem ">
  <div class="ProductItem__Wrapper"><a href="/products/crema-hidratante-facial" class="ProductItem__ImageWrapper "><div class="AspectRatio AspectRatio--tall" style="max-width: 1080px;  --aspect-ratio: 1.0"><img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Hidrantate-facial-acido-hialuronico_{width}x.png?v=1643448594" data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto" alt="Cloud moisturizer" data-media-id="24673325121695">
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Hidrantate-facial-acido-hialuronico-caja_600x.png?v=1643448594" alt="Cloud moisturizer">
          <img class="ProductItem__Image" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Hidrantate-facial-acido-hialuronico_600x.png?v=1643448594" alt="Cloud moisturizer">
        </noscript>
      </div>
    </a><div class="ProductItem__Info ProductItem__Info--center"><p class="ProductItem__Vendor Heading">Ácido Hialurónico, Niacinamida</p><h2 class="ProductItem__Title Heading">
          <a href="/products/crema-hidratante-facial">Cloud moisturizer</a>
        </h2>



<div style='' class='jdgm-widget jdgm-preview-badge' data-id='6694368215199'
data-template='index'
data-auto-install='false'>
  
</div>


<div class="ProductItem__PriceList  Heading"><span class="ProductItem__Price Price Text--subdued"></span></div></div></div></div></div><div class="Grid__Cell 1/2--phone 1/2--tablet 1/4--lap-and-up"><div class="ProductItem ">
  <div class="ProductItem__Wrapper"><a href="/products/retinol-serum-noche" class="ProductItem__ImageWrapper "><div class="AspectRatio AspectRatio--tall" style="max-width: 1080px;  --aspect-ratio: 1.0"><img class="ProductItem__Image Image--lazyLoad Image--fadeIn" data-src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Retinol-serum_{width}x.png?v=1643448623" data-widths="[200,400,600,700,800,900,1000]" data-sizes="auto" alt="Night serum" data-media-id="24673328201887">
        <span class="Image__Loader"></span>

        <noscript>
          <img class="ProductItem__Image ProductItem__Image--alternate" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Retinol-serum-caja_600x.png?v=1643448623" alt="Night serum">
          <img class="ProductItem__Image" src="//cdn.shopify.com/s/files/1/0553/3450/2559/products/Retinol-serum_600x.png?v=1643448623" alt="Night serum">
        </noscript>
      </div>
    </a><div class="ProductItem__Info ProductItem__Info--center"><p class="ProductItem__Vendor Heading">Retinol, Bakuchiol</p><h2 class="ProductItem__Title Heading">
          <a href="/products/retinol-serum-noche">Night serum</a>
        </h2>
<div class="ProductItem__PriceList  Heading"><span class="ProductItem__Price Price Text--subdued"></span>
    </div>
    </div>
        </div>
        </div>
        </div>
        </div>
  </div>
  </div>
  </div>
  </section>
</div>
{% endcomment %}


<div id="shopify-section-collection-list" class="shopify-section"><section id="section-collection-list" data-section-id="collection-list" data-section-type="collection-list"><div class="CollectionList CollectionList--grid ">



<div style='' class='jdgm-widget jdgm-preview-badge' data-id='6694371917983'
data-template='index'
data-auto-install='false'>
  
</div>

</div>
      



<div class="Section Section--spacingNormal">
  
  <div class="shopify-section-PDP">

<!--IMATGES FINAL -->    
<header class="SectionHeader SectionHeader--center">
    <div class="Container">
      <h2 class="SectionHeader__Heading Heading u-h2">"SERIAMENTE EFICAZ. MARAVILLOSAMENTE HONESTA"</h2>
    </div>

</header>
  
  
    <div class="full-width">
  <div class="Container">
    

<!-- IMÁGENES PRODUCTOS ANTES FOOTER -->    
    <div class="Grid max-4-show hide_all" data-length="30">
   
  <div id="rdiv0" class="rdiv0 Grid__Cell 1/3--tablet-and-up 1/3--lap-and-up">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="https://cdn.shopify.com/s/files/1/0553/3450/2559/files/WEB_1_4x-100.jpg?v=1714122615" alt="Serum retinol"/>
      </div>
    </a>
  </div>
   
  <div id="rdiv1" class="rdiv1 Grid__Cell 1/3--tablet-and-up 1/3--lap-and-up">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="https://cdn.shopify.com/s/files/1/0553/3450/2559/files/WEB_2_4x-100.jpg?v=1714122615" alt="Cosmetica natural"/>
      </div>
    </a>
  </div>
   
  <div id="rdiv2" class="rdiv2 Grid__Cell 1/3--tablet-and-up 1/3--lap-and-up">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="https://cdn.shopify.com/s/files/1/0553/3450/2559/files/WEB_3_4x-100.jpg?v=1714122615" alt="Rutina facial"/>
      </div>
    </a>
  </div>
  
  <!-- Imágenes específicas para móviles 
  <div id="rdiv0-mobile" class="rdiv0 Grid__Cell">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="ruta/a/imagen-movil1.jpg" alt="Serum retinol (móvil)"/>
      </div>
    </a>
  </div>
     
  <div id="rdiv1-mobile" class="rdiv1 Grid__Cell">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="ruta/a/imagen-movil2.jpg" alt="Cosmetica natural (móvil)"/>
      </div>
    </a>
  </div>
     
  <div id="rdiv2-mobile" class="rdiv2 Grid__Cell">
    <a >
      <div class="AspectRatio AspectRatio--square">
        <img class="Image--fadeIn lazyautosizes Image--lazyLoaded" src="ruta/a/imagen-movil3.jpg" alt="Rutina facial (móvil)"/>
      </div>
    </a>
  </div>-->
</div> 

</div>
      
      </div>


</div>
</div>


